<!DOCTYPE HTML>
<html>
    <head>
        <%- include ('./head') %>
<style>
.inner .contents{
    display : none;
}
.view {
    display : block !important;
}
</style>
    </head>
    <body>
        <div id="wrapper">
            <header id="header" class="alt">
                <a href="/" class="logo" style="width:60%;"><strong style="letter-spacing: normal;font-size: large;">이로치팬텀</strong></a>
                <div id="nav">
                    <ul class="menu">
                        <li>
                            <a class="menu-trigger" style="margin-top:5px;margin-left:65%;">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <ul class="sub">
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="images/pic07.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h1 class="my-poor-xlarge"><%= result[0].name %></h1>
                    </header>
                    <div class="content">
                        <p class="my-poor-medium"><%= result[0].context %></p>
                    </div>
                </div>
            </section>

            <div id="main">
                <section id="one">
                    <% for ( var i = 0; i < result.length; i++){ %>
                    <div class="inner" onclick="javascript:fnView('<%= i %>');">
                        <header class="major">
                            <p style="font-size:23px;"><%= result[i].title %></p>
                        </header>
                        <p class="contents view" id="view<%= i %>" value = "1"><%= result[i].content %></p>
                    </div>
                    <% } %>
                </section>
            </div>
<script>
    function fnView(i) {
        var check = $("#view"+i).hasClass('view');
        if(check) {
            $("#view"+i).removeClass('view');
        } else {
            $("#view"+i).addClass('view');
        }
    }
    $(document).ready(function(){
        $("#nav ul.sub").hide();
        $("#nav ul.menu li").click(function(){
            $("ul",this).slideToggle("fast");
        });
        $.post(
            '/menu',
            {},
            function(arg) {
                console.log(arg);
                var menu = arg.menu;
                console.log(menu);
                var str = "";
                for(var i=0; i<menu.length; i++) {
                    str += '<li><a href="'+menu[i].route+'">'+menu[i].name+'</a></li>';
                }
                $('.sub').append(str);
            }
        );
    });
    var burger = $('.menu-trigger');
    
    burger.each(function(index){
    var $this = $(this);
    
    $this.on('click', function(e){
        e.preventDefault();
        $(this).toggleClass('active-' + (index+1));
    })
});

</script>
            <%- include ('./footer') %>
        </div>
    </body>
</html>