<!DOCTYPE HTML>
<html>
    <head>
        <%- include ('./head') %>
<style>
.inner .contents{
    display : none;
}
.view {
    display : block !important;
}
</style>
    </head>
    <body>
        <div id="wrapper">
            <section id="banner" class="style2">
                <div class="inner">
                    <span class="image">
                        <img src="images/pic07.jpg" alt="" />
                    </span>
                    <header class="major">
                        <h1 class="my-poor-xlarge"><%= result[0].name %></h1>
                    </header>
                    <div class="content">
                        <p class="my-poor-medium"><%= result[0].context %></p>
                    </div>
                </div>
            </section>

            <div id="main">
                <section id="one">
                    <% for ( var i = 0; i < result.length; i++){ %>
                    <div class="inner" onclick="javascript:fnView('<%= i %>');">
                        <header class="major">
                            <p style="font-size:23px;"><%= result[i].title %></p>
                        </header>
                        <p class="contents" id="view<%= i %>" value = "1"><%= result[i].content %></p>
                    </div>
                    <% } %>
                </section>
            </div>
<script>
function fnView(i) {
    var check = $("#view"+i).hasClass('view');
    if(check) {
        $("#view"+i).removeClass('view');
    } else {
        $("#view"+i).addClass('view');
    }
}
</script>
            <%- include ('./footer') %>
        </div>
    </body>
</html>