<!DOCTYPE HTML>
<html>
    <head>
        <%- include ('./head') %>
    </head>
    <body>
        <div id="wrapper">
            <header id="header" class="alt">
                <a href="/" class="logo" style="width:60%;"><strong style="letter-spacing: normal;font-size: large;">이로치팬텀</strong></a>
                <div id="nav">
                    <ul class="menu">
                        <li>
                            <a class="menu-trigger" style="margin-top:5px;margin-left:65%;">
                                <span></span>
                                <span></span>
                                <span></span>
                            </a>
                            <ul class="sub">
                            <% for ( var i = 0; i < result.length; i++){ %>
                                <li><a href="<%= result[i].route %>"><%= result[i].name %></a></li>
                            <% } %>
                            </ul>
                        </li>
                    </ul>
                </div>
            </header>

            <section id="banner" class="major">
                <div class="inner">
                    <header class="major">
                        <h1>이로치팬텀의 크퀘 FAQ</h1>
                    </header>
                    <div class="content">
                        <p class="my-poor-medium">크린이분들이 많이 해주시는 질문 위주로 선별하였습니다.</p>
                        <p class="my-poor-small">본 페이지는 모바일화면에 최적화 되어있습니다.</p>
                        <ul class="actions">
                            <li><a href="#one" class="button next scrolly">Get Started</a></li>
                        </ul>
                    </div>
                </div>
            </section>

            <div id="main">
                <section id="one" class="tiles">
                    <% for ( var i = 0; i < result.length; i++){ %>
                        <article>
                            <span class="image">
                                <img src="images/pic0<%=i+1%>.jpg" alt="" />
                            </span>
                            <header class="major">
                                <h3><a href="<%= result[i].route %>" class="link my-poor-large"><%= result[i].name %></a></h3>
                                <p class="my-poor-small"><%= result[i].context %></p>
                            </header>
                        </article>
                    <% } %>
                </section>
            </div>
<script>
	$(document).ready(function(){
		$("#nav ul.sub").hide();
		$("#nav ul.menu li").click(function(){
			$("ul",this).slideToggle("fast");
		});
	});
var burger = $('.menu-trigger');

burger.each(function(index){
	var $this = $(this);
	
	$this.on('click', function(e){
		e.preventDefault();
		$(this).toggleClass('active-' + (index+1));
	})
});
</script>
            <%- include ('./footer') %>
        </div>
    </body>
</html>